@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/*    
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Unbounded', cursive;
*/
body {
  margin: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
