@import '../header/header.css';
/* #323030 */
:root {
    --font-clr-darkmode: white;
    --brand-clr: #E52C2C;
    --icon-lightmode: #f0c284;
}
main {
    padding: 1rem;
    background-color: var(--main-clr);
    transform: translateY(-2rem);
    padding-top: 3rem;
    position: absolute;
    z-index: -1;
    border-radius: 13px;
    color: var(--main-font);
}