@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-clr: #faebd7;
    --background-clr-darkmode: #545151;
    --font-clr: #2e2d2d;
    --font-clr-darkmode: white;
    --brand-clr: #E52C2C;
    --icon-lightmode: #f0c284;
    --main-clr: #fdf7ee;
    --main-font: #2e2d2d;
}

h1 {
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
}

header {
    padding: 1rem;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-lightmode {
    background-color: var(--background-clr);
    color: var(--font-clr);
}

.header-darkmode {
    background-color: var(--background-clr-darkmode);
    color: var(--font-clr-darkmode);
}

i {
    margin: 0.5rem;
    color: var(--font-clr);
    transition: color 250ms ease;
}

i:hover {
    color: var(--brand-clr);
    transition: color 250ms ease;
}

.fa-twitch:hover {
    color: #003d80;
    transition: color 250ms ease;
}

.fa-sun:hover, .fa-moon:hover {
    color: #fed426;
    transition: color 250ms ease;
}